/**
 * ----------------------------------------------------------------
 * Worldpay Example Stylesheet
 * ----------------------------------------------------------------
 * @author - Jorden Powley <jorden.powley.webdev@gmail.com>
 */

/* --------------------------Minimal Reset---------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    background: rgb(240, 242, 245);
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

/* ---------------------------Page Styling---------------------- */
section{
    width: 100%;
    display: block;
    position: relative;
}

h1{
    width: 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: rgb(50, 50, 50);
    text-align: center;
}

select{
    width: 200px;
    height: 40px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: rgb(50, 50, 50);
    text-align: center;
    border: 1px solid rgb(50, 50, 50);
}

form{
    width: 380px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

form button{
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    background: #4286f4;
    border: 0px solid transparent;
    cursor: pointer;
}

form button:hover{
    opacity: 0.6;
}